
.cust-subcol-right>div>form>div.cust-form-row-1{
    align-items: center;
}



.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
}
ol.breadcrumb {
    padding: 15px;
    margin: none;
}
ol.breadcrumb>i {
    color: #b52828;
    padding: 10px;
}
ol.breadcrumb>li>a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
}

div.col-9.wd-modules-container.flex-fill.cust-subcol-right {
    padding: 0px 30px 0px 0px;
}

.published-text {
    color: green;
}
