
.col {
    min-width: 250px;
    max-width: 400px;
  }
  

  .col {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  

  .sidebar {
    margin-right: 30px; 
  }
  

  .card-body {
    text-align: center;
  }
  

  .card-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .row, h3 {
    padding-left: 30px;
  }